<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
 <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
 <property name="connection.url">jdbc:mysql://localhost:3306/anti_ragging</property>  
 <property name="connection.username">root</property>  
 <property name="connection.password">lokesh</property>  
 <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
 <property name="show_sql">true</property>
    
<!--  <mapping class="pk.Employee8080"/>  
 --> 
<mapping class="model.UserLogin"></mapping>
<mapping class="model.UserRole"></mapping>
<mapping class="model.UserDetail"></mapping>
<mapping class="model.ComplaintResponse"></mapping>
<mapping class="model.Feedback"></mapping>
<mapping class="model.Complain"></mapping>
    </session-factory>  
  
</hibernate-configuration> 